---
import { getImage, Image } from "astro:assets";
import paperimage from "../assets/augustine-wong-3Om4DHcaAc0-unsplash.avif";
const paperBackground = await getImage({ src: paperimage, format: "webp" });
import flowers from "../assets/layer1.svg";
---

<div
    class="relative w-full md:w-1/2 h-56 lg:h-80 mx-auto flex items-center justify-center shadow rounded-2xl bg-blend-luminosity overflow-hidden -z-10 "
    style={`background-image: url(${paperBackground.src});`}
>
    <div class="absolute inset-0 bg-white opacity-50 -z-10"></div>
    <div class="w-full h-full relative">
        <div class="relative content-center text-center z-10 mt-17">
            <p
                class="relative text-4xl lg:text-7xl font-names bg-clip-text bg-linear-to-r from-gold1 to-gold2 text-transparent"
            >
                Mari
            </p>
            <p
                class="relative text-4xl lg:text-7xl font-names bg-clip-text bg-linear-to-r from-gold1 to-gold2 text-transparent -mt-6 lg:-mt-9 pb-1"
            >
                y
            </p>
            <p
                class="relative text-4xl  lg:text-7xl font-names bg-clip-text bg-linear-to-r from-gold1 to-gold2 text-transparent"
            >
                Nefta
            </p>
        </div>
        <div
            class="relative items-center justify-items-center z-0 -mt-48 lg:-mt-60 animate-[rotateBg_40s_linear_infinite]"
        >
            <Image src={flowers} alt={"nada"} class={"scale-70 lg:scale-100"}/>
           
        </div>
    </div>
    

    <!-- <div class="w-96 h-96 bg-gray-200 relative">
        <div class="w-60 h-60 bg-red-500 relative z-10">Primer `div`</div>
        <div class="w-40 h-40 bg-blue-500 relative z-20 -mt-10">Encima sin `absolute`</div>
      </div> -->
      
</div>

<style>
    @keyframes rotateBg {
      from { background-position: 0% 50%; transform: rotate(0deg); }
      to { background-position: 100% 50%; transform: rotate(-360deg); }
    }
  </style>