---
import Present from "../assets/present.svg";
---

<div class="flex flex-col items-center justify-center py-10">
    <div class="flex flex-col md:flex-row items-center justify-center">
        <p class="text-6xl font-names text-center p-4 xl:p-2 text-gray-600">
            Niños
        </p>
    </div>
    <p class="text-md font-ibm text-gray-600 text-xl text-center p-2 md:w-1/2">
        ¿Pueden asistir niños?
        <br />
        Sí, los niños son bienvenidos. Solo les solicitamos a los padres que se encarguen
        de su cuidado en todo momento.
    </p>
    <div
        id="confirmacion"
        class="flex flex-col items-center justify-center py-10"
    >
        <div class="flex flex-col md:flex-row items-center justify-center">
            <p class="text-6xl font-names text-center p-4 xl:p-2 text-gray-600">
                Confirmación
            </p>
        </div>
        <p
            class="text-md font-ibm text-gray-600 text-xl text-center p-2 md:w-1/2"
        >
            Para ayudarnos con la organización de este día tan especial, les
            pedimos confirmar su asistencia antes del 1 de diciembre al número
            <br />
            <br />
            <span class="text-gray-700 text-2xl font-semibold"
                >951 392 72 98</span
            >
        </p>
    </div>
</div>
