---
const targetDate = new Date("2025-03-15T00:00:00Z"); // Fecha objetivo
let timeLeft = "Cargando...";
---

<div
    class="text-3xl lg:text-6xl outline-0 text-center font-countdown text-countdown p-2"
    id="countdown"
>
    {timeLeft}
</div>

<script>
    function getTimeDiffString(target: Date, nowDate: Date) {
        const diffms = target - nowDate;
        const days = Math.floor(diffms / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
            (diffms % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
        );
        const minutes = Math.floor((diffms % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((diffms % (1000 * 60)) / 1000);

        return `${days}d ${hours.toString().padStart(2, "0")}:${minutes.toString().padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`;
    }

    function calculateTimeLeft() {
        const nowDate = new Date();
        const target = new Date("2026-01-03T12:00:00-06:00");

        return getTimeDiffString(target, nowDate);
    }

    function updateCountdown() {
        document.getElementById("countdown").innerText = calculateTimeLeft();
        setInterval(() => {
            document.getElementById("countdown").innerText =
                calculateTimeLeft();
        }, 1000);
    }

    updateCountdown();
</script>
