---
import Logoletter from "../assets/logoletter.svg";

---
<footer class="bg-melon text-white py-4 relative mt-6">
    <div class="container mx-auto text-center items-center flex flex-col">
        <button
            class="absolute -top-3 left-1/2 transform -translate-x-1/2 bg-white text-melon font-semibold px-4 rounded-4xl text-4xl hover:bg-melon hover:text-white pw-4 transition animate-bounce"
            onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
        >
        ↑
        </button>
        <p class="text-xl p-2 py-4">Durante nuestra boda utiliza el hashtag</p>
        <p class="text-4xl p-4 font-ibm">#MarYNefta</p>
        <Logoletter height={80} width={80}/>
    </div>
</footer>