---
import type { ImageMetadata } from 'astro';
import Gallery from './Gallery.vue'

const imagesimport = import.meta.glob<{ default: ImageMetadata }>('/src/assets/fotos/*.{jpeg,jpg,png,gif}', {
  eager: true
});

const images: { id: number; url: string }[] = Object.entries(imagesimport).map(([_, image], index) => ({
  id: index + 1,
  url: image.default.src  // esta es la ruta válida en producción
}));
---

<div id="gallery" class="w-full overflow-x-hidden">
    <Gallery images={images} client:load/>
</div>