---
import Countdown from "../components/Countdown.astro";
// import Banner from '../components/Banner.astro';
import Banner from '../components/Banner2.astro';
import MusicPlayer from "./MusicPlayer.astro";
import Navbar from "./Navbar.astro";
import Section1 from "./Section1.astro";
import Section2 from "./Section2.astro";
---
<div id="container" >
    <div>
        <Banner/>
    </div>
    <!-- <MusicPlayer song="/MaryYNefta/song_wedding.mp3" volume={0.3} /> -->
     <Navbar/>
     <Section1/>
     <Section2/>
</div>