---
import Countdown from "../components/Countdown.astro";
// import Banner from '../components/Banner.astro';
import Banner from '../components/Banner2.astro';
import MusicPlayer from "./MusicPlayer.astro";
import Navbar from "./Navbar.astro";
---
<div id="container" >
    <div>
        <Banner/>
    </div>
    <!-- <MusicPlayer song="/MaryYNefta/song_wedding.mp3" volume={0.3} /> -->
     <Navbar/>
</div>