---
import Countdown from "../components/Countdown.astro";
import Banner from '../components/Banner.astro';
import MusicPlayer from "./MusicPlayer.astro";
---
<div id="container" >
    <div>
        <Banner/>
    </div>
    <Countdown/>
    <MusicPlayer song="/MaryYNefta/song_wedding.mp3" volume={0.3} />
</div>