<div class="flex flex-col items-center justify-center bg-white py-4">
    <p class="text-4xl font-ibm text-gray-700 p-4 ph-6 text-center">Agregalo a tu calendario</p>
    <div class="flex flex-col lg:flex-row lg:space-x-2 w-1/3">
        <a href="/event.ics" target="_blank" class="m-1 bg-gray-200 border-gray-300 border-2 rounded-md p-2 flex-1 text-center hover:flex-2 transition-all duration-300 hover:shadow-lg">
            IOS Y PC
        </a>
        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Boda%20de%20Mary%20y%20Nefta&details=Acompa%C3%B1anos%20el%20dia%203%20de%20Enero%20del%202026%20a%20celebrar%20nuestra%20union%20en%20la%20iglesia%20de%20la%20soledad%20a%20las%2012%20PM&location=https%3A%2F%2Fmaps.app.goo.gl%2FpQ4A72C1JCdg2ZXo7&dates=20260103T200000Z/20260104T111100Z" target="_blank" class="m-1 bg-gray-200 border-gray-300 border-2 rounded-md p-2 flex-1 text-center hover:flex-2 transition-all duration-300 hover:shadow-lg">
            GOOGLE CALENDAR
        </a>
    </div>
</div>