<div class="bg-white text-gray-900 p-6 scroll-m-15" id="nos-casamos">
    <p class="text-center font-medium">
        "Las mejores cosas de la vida merecen ser compartidas"
    </p>
    <div class="flex items-center justify-around p-2 flex-col sm:flex-row">
        <div>
            <p>Jose Rosales Gomez</p>
            <p>Amelia Jarquin ruiz</p>
        </div>
        <p class="font-medium text-xl p-6">&</p>
        <div class="">Luisa Balbina Sanchez</div>
    </div>
    <div class="p-2 justify-center text-center">
        <p class="font-medium">
            Participan en el enlace matrimonial de sus hijos
        </p>
        <p class="p-2">Neftali & Marisela</p>
    </div>
</div>
