<div class="bg-white text-gray-600 p-6 scroll-m-15 flex flex-col items-center font-ibm " id="nos-casamos">
    <p class="text-center font-medium  text-xl p-2">
        "Las mejores cosas de la vida merecen ser compartidas"
    </p>
    <div class="flex items-center justify-around p-2 flex-col sm:flex-row lg:w-1/3 text-xl">
        <div>
            <p>Jose Rosales Gomez</p>
            <p>Amelia Jarquin ruiz</p>
        </div>
        <p class="font-medium text-xl p-6">&</p>
        <div class="">Luisa Balbina Sanchez</div>
    </div>
    <div class="p-2 justify-center text-center  text-xl">
        <p class="font-medium">
            Participan en el enlace matrimonial de sus hijos
        </p>
        <p class="p-5 font-ibm italic text-4xl">Neftali  &  Marisela</p>
    </div>
    <p class="text-center font-medium  text-xl p-2">
        Con la bendicion de sus padrinos
    </p>
    <div class="flex items-center justify-around p-2 flex-col sm:flex-row lg:w-1/3 text-xl">
        <div>
            <p>Salvador Villareal Reyes</p>
        </div>
        <p class="font-medium text-xl p-6">&</p>
        <div class="">Cecilia Rodriguez Cerrato</div>
    </div>
</div>
