---
import Present from '../assets/present.svg';
---
<div id="regalos" class="flex flex-col items-center justify-center py-10">
   <div class="flex flex-col md:flex-row items-center justify-center">
    <Present width={64} height={64} class:list={"animate-bounce"} fill={"#6a7282"}/>
    <p class="text-6xl font-names text-center p-4 xl:p-2 text-gray-600">Mesa de Regalos</p>

</div>
    <p class="text-md font-ibm text-gray-600 text-xl text-center p-2 md:w-1/2">
        Su compañía en este día tan especial es el mejor regalo que podemos recibir.
        <br> 
        Sin embargo,
        <br> 
        <br> 
        Si desean tener un detalle con nosotros, podrán dejarlo en 
        <span class="text-gray-700 font-semibold">efectivo</span>
        en el 
        <span class="text-gray-700 font-semibold">cofre</span>
        que estará disponible en la 
        <span class="text-gray-700 font-semibold">recepción</span>.
    </p>
</div>