<div class="m-4 bg-rose p-3 rounded-md">
    <h1 class="text-4xl font-names text-center p-4 text-transparent bg-gradient-to-r from-yellow-700 via-yellow-600 to-yellow-700 bg-clip-text animate-text-wave">
        Nuestra Historia
    </h1>
    <p class="text-center text-sm md:text-base font-serif font-thin p-4 md:p-10">
        Nos conocimos estudiando Ingeniería Electrónica y, sin saberlo, comenzamos a construir nuestra historia. Llevamos más de ocho años compartiendo retos, logros y sueños. Vivimos lejos de casa, enfrentamos momentos difíciles y crecimos juntos. La propuesta fue una sorpresa inolvidable, planeada con quienes más queremos. Hoy, con mucha emoción, les compartimos el inicio de este nuevo capítulo en nuestras vidas.
    </p>
</div>
