<div class="m-4 bg-rose p-3 rounded-md">
    <h1 class="text-4xl font-names text-center p-4 text-transparent bg-gradient-to-r from-yellow-700 via-yellow-600 to-yellow-700 bg-clip-text animate-text-wave">
        Nuestra Historia
    </h1>
    <p class="text-center text-sm md:text-base font-serif font-thin p-4 md:p-10">
        Una propuesta, un Sí y una decisión que tomamos juntos. Nuestro amor ha crecido en nosotros, ha madurado y florecido, a veces sencillo, otras caótico pero siempre maravilloso. Así comienza una nueva etapa en nuestras vidas. Somos aventureros, dedicados, fuertes de carácter; los desafíos que hemos enfrentado nos han ayudado a crecer y madurar; debemos agradecer a esos retos porque con ellos nos hemos dado cuenta que juntos podemos lograr lo que nos proponemos. Tan sólo podemos decir que nuestra vida en estos momentos se encuentra completa y estamos listos para compartir el resto de nuestros días juntos.
    </p>
</div>
