---
import Calendar from "./Calendar.vue"
---

<div class="flex flex-col items-center justify-center bg-white py-4">
    <p class="text-6xl font-names text-center p-4 xl:p-2 text-gray-600">Agregálo a tu calendario</p>
    <Calendar client:load/>
</div>