---
import Rings from "../assets/rings.svg";
import Maps from "../assets/maps.svg";
import Waze from "../assets/waze.svg";
import Letters from "../assets/letters.svg";
import Suits from "../assets/suits.svg";
---

<div class="flex md:flex-row flex-col justify-around p-3 scroll-m-15" id="cuando-y-donde">
    <div class="p-4 items-center text-center justify-center flex-col flex text-gray-500">
        <Rings width={64} height={64} class:list={"animate-bounce"}  fill={"#6a7282"}/>
        <h2 class="font-serif font-extralight p-1 text-gray-700">CEREMONIA RELIGIOSA</h2>
         <p class="font-ibm font-bold p-1 text-gray-700">
            Templo de Nuestra Señora de la Soledad
        </p>
        <p class="font-ibm font-normal p-1">12:00 PM – 01:00 PM</p>
       
        <p class="font-ibm font-normal text-sm p-1">Oaxaca de Juárez, Oaxaca</p>
        <div class="p-1">
            <a
                class="flex border-2 rounded-sm bg-gray-200 w-fit h-fit border-gray-300 items-center p-1"
                target="_blank"
                href="https://maps.app.goo.gl/bMJcexdQgDpKiRej8"
            >
                <Maps width={20} height={20} />
                <p class="p-1">Ver mapa</p>
            </a>
        </div>
        <div class="p-1">
            <a
                class="flex border-2 rounded-sm bg-gray-200 w-fit h-fit border-gray-300 items-center p-1"
                target="_blank"
                href="https://ul.waze.com/ul?place=ChIJw8ctBhUix4UR6eupJbZOBpU&ll=17.06354440%2C-96.72993840&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"
            >
                <Waze width={20} height={20} />
                <p class="p-1">Llegar con Waze</p>
            </a>
        </div>
    </div>
    <div class="p-4 items-center text-center justify-center flex-col flex text-gray-500">
        <Letters width={64} height={64} class:list={"animate-bounce"}  fill={"#6a7282"}/>
        <h2 class="font-serif font-extralight p-1 text-gray-700">RECEPCIÓN</h2>
        <p class="font-ibm font-bold p-1 text-gray-700">Salon Aliflor</p>
        <p class="font-ibm font-normal p-1">02:00 PM – 03:00 AM</p>
        <p class="font-ibm font-normal text-sm p-1">
            San Bartolo Coyotepec, Oaxaca
        </p>
        <div class="p-1">
            <a
                class="flex border-2 rounded-sm bg-gray-200 w-fit h-fit border-gray-300 items-center p-1"
                target="_blank"
                href="https://maps.app.goo.gl/yw6nyqiR1LLgNrh99"
            >
                <Maps width={20} height={20} />
                <p class="p-1">Ver mapa</p>
            </a>
        </div>
        <!-- <div class="p-1">
            <a
                class="flex border-2 rounded-sm bg-gray-200 w-fit h-fit border-gray-300 items-center p-1"
                target="_blank"
                href="https://www.waze.com/es/live-map/directions/parroquia-san-pedro-y-san-pablo-parota-zamora-(mich)?to=place.w.168886472.1688995789.12848454"
            >
                <Waze width={20} height={20} />
                <p class="p-1">Llegar con Waze</p>
            </a>
        </div> -->
    </div>
    <div
        class="p-4 items-center text-center justify-center flex-col flex bg-gray-100 rounded-lg text-gray-700"
    >
        <Suits width={200} height={200} fill={"#364153"}/>
        <p class="font-ibm font-normal text-2xl p-2">Código de vestimenta</p>
        <p class="font-ibm font-normal text-xl p-2">Cocktail-Formal</p>
    </div>
</div>
