---
import Calendar from "./Calendar.vue"
---

<div class="flex flex-col items-center justify-center bg-white py-4">
    <p class="text-4xl font-ibm text-gray-700 p-4 ph-6 text-center">Agregalo a tu calendario</p>
    <Calendar client:load/>
</div>